@import url('https://fonts.googleapis.com/css2?family=Forum&family=Manrope:wght@200..800&display=swap');
@import 'tailwindcss';

@custom-variant dark (&:write(.dark, .dark *));

* {
  font-family: 'Manrope', sans-serif;
  font-weight: 500;
}

@theme {
  --color-primary: #5044e5;
}
